@using Microsoft.AspNetCore.Mvc.Rendering
@using Model
@model TravelStatsSearchParameters

	@{
		ViewData["Title"] = "Travel Search";
	}

	<div class="container search-container">
		<div class="row col-sm-6">
			<img src="images/BuildingBlocks.png" alt="Building Blocks" />
		</div>
		<div class="row col-sm-6 col-xs-12">
			@Html.Partial("SearchForm");			
		</div>
	</div>

@section Scripts{
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2lln26f5wLuV-SEGaIG6G2kRykEQ5gEU&libraries=places"></script>

	<script type="text/javascript" src="js/GoogleAutoComplete.js"></script>
	<script type="text/javascript" src="js/GoogleMapsBackground.js"></script>


	}



