@using Model
@model TravelStatsSearchParameters

<div class="col-sm-6 search-form">
	<h4 class="col-sm-12">Plan your next adventure...</h4>
	<form asp-controller="PlacesSearch" asp-action="SearchResults" method="post" class="form-horizontal" role="form">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group col-xs-12">
					<input id="origin-input" asp-for="Origin" class="form-control col-xs-10" placeholder="Start" required />
				</div>
				<div class="form-group col-xs-12">
					<input id="destination-input" type="text" asp-for="Destination" class="form-control col-xs-12" placeholder="Destination" required />
				</div>
			</div>
			<div class="form-group col-xs-12">
				<div class="col-xs-4">
					<select asp-for="UnitType" asp-items="Html.GetEnumSelectList<UnitType>()" class="form-control"></select>
				</div>
				<div class="col-xs-6">
					<input type="submit" class="btn btn-primary" value="Take the next step" />
				</div>
			</div>
		</div>
	</form>
</div>
